node_modules
Session.vim
**/sessions/*
coc-java-data
tags
/emacs/.emacs.d/.cache/
/emacs/.emacs.d/elpa/
/emacs/.emacs.d/auto-save-list/
/emacs/.emacs.d/bookmarks
/emacs/.emacs.d/history
/emacs/.emacs.d/projects
/emacs/.emacs.d/recentf
/emacs/.emacs.d/transient/
*.eld
/emacs/.emacs.d/.*
lazy-lock.json
*.elc
/emacs/.emacs.d/workspace/
/emacs/.emacs.d/eclipse.jdt.ls/
/emacs/.emacs.d/places
/emacs/.emacs.d/eln-cache/
*.tar
