[user]
    name = Jerry Wang
    email = jerrywang1981@outlook.com
    signingkey = jerrywang1981@outlook.com
[commit]
    gpgsign = true
[tag]
    gpgSign = true
[pull]
    rebase = true
[credential]
	helper = cache --timeout=3600
