[includeIf "gitdir:~/personal/"]
  path = ~/.gitconfig-personal
[includeIf "gitdir:~/work/"]
  path = ~/.gitconfig-work
[credential "https://github.ibm.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[url "git@github.ibm.com:"]
	insteadOf = https://github.ibm.com/
[user]
	name = Jerry Wang
	email = jerrywang1981@outlook.com
